In [1]:
import pandas as pd
import numpy as np
from faker.providers.person.en import Provider

In [2]:
df = pd.DataFrame({'usuario': [], 'nombre': [], 'dependientes':[] ,'propiedad_casa': [], 'propiedad_auto': [],
                  'habilidad_futuro':[], 'habilidad_manejo':[], 'habilidad_conceptos':[],
                  'estres_dinero':[], 'estres_cotidiano':[],'deuda_instru':[], 'deuda_gen':[], 'deuda_dti':[],
                  'ingresos':[], 'ahorro_disciplina':[], 'ahorro_desempleo':[],
                  'inversion_fin':[], 'inversion_nofin':[], 'contacto':[], 'medio_finT':[] })

In [3]:
df['usuario'] = np.linspace(1001,1021,20).astype(int)

In [4]:
def random_names(name_type, size):
    names = getattr(Provider, name_type)
    return np.random.choice(names, size=size)

df['nombre'] = random_names('first_names',20)

In [5]:
from numpy.random import default_rng
rng = default_rng()

In [6]:
df['dependientes'] = rng.integers(low=0, high=4, size=20)

In [7]:
df['propiedad_casa'] = rng.integers(low=1, high=4, size=20)
df['propiedad_auto'] = rng.integers(low=1, high=4, size=20)

In [8]:
df['habilidad_futuro'] = rng.integers(low=1, high=4, size=20)
df['habilidad_manejo'] = rng.integers(low=1, high=6, size=20)
df['habilidad_conceptos'] =  rng.integers(low=1, high=4, size=20)

In [9]:
df['estres_dinero'] = rng.integers(low=1, high=4, size=20)
df['estres_cotidiano'] = rng.integers(low=1, high=6, size=20)

In [10]:
df['deuda_instru'] = rng.integers(low=1, high=5, size=20)
df['deuda_gen'] = rng.integers(low=1, high=4, size=20)
df['deuda_dti'] = rng.integers(low=1, high=5, size=20)

In [11]:
df['ingresos'] = rng.integers(low=1, high=4, size=20)

In [12]:
df['ahorro_disciplina'] = rng.integers(low=1, high=5, size=20)
df['ahorro_desempleo'] = rng.integers(low=1, high=4, size=20)

In [13]:
df['inversion_fin'] = rng.integers(low=1, high=4, size=20)
df['inversion_nofin'] = rng.integers(low=1, high=5, size=20)

In [14]:
df['medio_finT'] = rng.integers(low=1, high=4, size=20)

In [15]:
df['contacto'] = df['nombre'] + '@' + 'something' + '.com'

In [16]:
df

,usuario,nombre,dependientes,propiedad_casa,propiedad_auto,habilidad_futuro,habilidad_manejo,habilidad_conceptos,estres_dinero,estres_cotidiano,deuda_instru,deuda_gen,deuda_dti,ingresos,ahorro_disciplina,ahorro_desempleo,inversion_fin,inversion_nofin,contacto,medio_finT
0,1001,Autry,1,1,3,2,4,1,2,4,2,2,4,1,3,1,2,3,Autry@something.com,2
1,1002,Junius,0,2,1,1,3,1,2,5,4,2,2,1,1,2,3,2,Junius@something.com,2
2,1003,Socorro,1,1,1,1,5,2,3,1,3,2,3,1,3,1,3,3,Socorro@something.com,1
3,1004,Geraldo,3,1,1,2,5,3,3,5,1,1,2,3,4,1,1,4,Geraldo@something.com,2
4,1005,Hermina,0,3,2,2,2,2,2,3,2,2,4,1,4,2,2,2,Hermina@something.com,3
5,1006,Kameron,0,2,1,2,5,3,3,4,3,3,4,2,4,1,2,3,Kameron@something.com,3
6,1007,Amiah,0,1,1,3,5,1,1,3,4,1,2,3,1,3,1,2,Amiah@something.com,1
7,1008,Theresa,0,3,1,3,2,3,1,5,3,2,3,1,4,3,3,2,Theresa@something.com,3
8,1009,Cali,2,1,3,3,2,2,1,1,1,3,3,2,3,2,2,1,Cali@something.com,1
9,1010,Hallie,3,3,2,1,1,1,3,1,3,2,1,2,4,1,1,4,Hallie@something.com,3
10,1011,Breanne,1,3,1,1,3,1,2,3,2,1,2,1,4,3,2,1,Breanne@something.com,2
11,1012,Tristan,0,3,1,1,3,2,1,3,2,2,1,3,2,2,2,4,Tristan@something.com,3
12,1013,Roxana,0,3,3,2,3,1,2,3,2,1,2,3,1,3,1,4,Roxana@something.com,1
13,1014,Tristen,2,3,2,1,4,2,2,2,3,3,1,1,3,3,1,3,Tristen@something.com,3
14,1015,Bryn,2,1,2,1,1,2,3,4,3,2,2,3,3,3,1,3,Bryn@something.com,1
15,1016,Alline,2,2,1,3,1,3,1,5,2,1,2,3,2,1,1,1,Alline@something.com,1
16,1017,Charley,1,3,2,3,5,1,3,1,2,3,1,2,4,1,3,2,Charley@something.com,3
17,1018,Ivette,0,1,1,1,3,1,3,1,1,2,1,2,4,2,1,2,Ivette@something.com,2
18,1019,Damien,3,3,1,2,2,1,2,4,3,2,2,2,2,2,1,3,Damien@something.com,2
19,1021,Shani,1,1,1,3,5,3,1,4,4,3,4,3,2,2,1,4,Shani@something.com,1

In [17]:
df.to_csv('fake_database_testfinT.csv', index=False)